*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: burlywood;
}
.name{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 50px;
    box-shadow: 0 5px 5px -6px red;
}
.home{
    
    border-radius: 4px;
    margin-right: 4px;
    display: flex;
}
.portfolio{
    border-radius: 4px;
    margin-left: 4px;
    display: flex;
}
.about{
    border-radius: 4px;
    display: flex;
}
.buttons{
    display: flex;
    flex-direction: row;
}
 nav{ 
    flex: 1;
    text-align: right;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
} 

.nav-link{
    font-size: 30px;
    box-shadow: 0 5px 5px -6px black;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
nav a:hover{
    color: red;
    background-color: rgb(6, 7, 28);
    text-decoration: underline;
}
.container {
    display: flex;
    align-items: center;
    align-content: space-between;
    border: 2px solid red;
    padding-top: 100px;
  }
.about-pic{
    display: flex;
    height: 500px;
    width: 600px;
   
}
.description{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-style: oblique;
}
.container-i {
    display: flex;
    align-items: center;
    align-content: space-between;
  }
.about-pici{
    display: flex;
    height: 300px;
    width: 300px;
   padding-right: 450px;
   padding-left: 200px;
}
.description-i{
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-style: oblique;
}
.container-ii{
    display: flex;
    align-items: center;
    align-content: space-between;
    border: 2px solid red;
  }
.about-picii{
    display: flex;
    height: 400px;
    width: 25%;
    padding-right: 500px;
    
}
.description-ii{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-style: oblique;
}
.titles{
    text-decoration: underline;
    color: red;
    font-size: 35px;
}
.socials{
    display: flex;
    justify-content: center;
}
.linked-in{
    display: flex;
    height: 125px;
    width: 125px;
    padding-right: 100px;
}
.facebook{
    display: flex;
    height: 125px;
    width: 125px;
}

