.Chapter{
    color: red;
    text-decoration: underline;
    text-align: center;
}

.One{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: blue;
    font-weight: bold;
    text-shadow: 1in;
}

.Two{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    color: blueviolet;
    background-color: black;

}

.Three{
    font-size: larger;
    color: green;
    text-decoration: line-through;
}

.Four{
    font-size: x-large;
    color: pink;
    text-shadow: .5in;
}

