main{
    display: flex;
}
h1{
    display: flex;
    justify-content: center;
    color: #44b;
    padding-bottom: 25px;
}
.categories{
    background-color: rgb(226, 224, 224);
    height: fit-content;
}
.categories a{
    display: flex;
    flex-direction: column;
    flex-basis: 256px;
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
    text-align: center;
    font-family: Dosis;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #44b;
    color: white;
}
.categories a:hover{
    color: red;
    background-color: rgb(6, 7, 28);
    text-decoration: underline;
    box-shadow: 0 2px 5px -2px black;
}