footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(49, 49, 146);
    padding: 20px;
    font-family: Dosis;
    color: white;

}
section{
    margin-right: 20px;
}
section h2{
    text-decoration: underline;
}
a :last-of-type{
    margin-right: 0;
}
section a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 4px;
}
section a:hover{
    color: red;
    background-color: rgb(6, 7, 28);
}