.main-nav{
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}
.sub-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(178, 178, 178);
    padding: 20px;
}
.full-width{
    display: none;
}
.short-width{
    display: flex;
}
@media (max-width: 768px){
    .full-width{
        display: flex;
    }
    .short-width{
        display: none;
    }
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list a{
    padding: 10px;
   border-right: solid rgb(178, 178, 178) .5px;
}
.nav-list li:last-of-type a {
    border: 0;
}
.search-form{
    display: flex;


}
.credit-offer{
    display: flex;
    background-color: red;
    padding: 10px;
}
.submit{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: red;
}
.company-name{
    font-size: 30px;
    color: blueviolet;
}