  body {
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header, footer { 
    flex: none; 
  }
  
  main {
    display: flex;
    flex: 1 0 auto;
  }
  .items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Open, Sans;
    align-items: flex-start;
  }
main{
    display: flex;
    flex-grow: 1;
}
.item{
    display: flex;
    flex-direction: column;
    flex-basis: 4px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px black;
}
.item-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(226, 224, 224);
    color: fuchsia;
    font-size: 20px;
    padding: 10px;
}
.fact-line{
    display: flex;
    justify-content: flex-start;
    color: fuchsia;
    align-items: center;
    background-color:rgb(226, 224, 224);
    padding: 10px;
}
.add-item{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44b;
    color: aqua;
    border: 100px;
    padding: 10px;
    border-radius: 50%;
}
@media (max-width: 768px){
    .item{
    display: flex;
    flex-basis: 100%;
    font-size: larger;
    }
    .items{
        display: flex;
        flex-direction: column;
    }
}
.main-nav{
  display: flex;
  background-color: #44b;
  justify-content: space-between;
}
.sub-nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(226, 224, 224);
  padding: 20px;
}
.full-width{
  display: none;
}
.short-width{
  display: flex;
}
@media (min-width: 768px){
  .full-width{
      display: flex;
  }
  .short-width{
      display: none;
  }
}
.nav-list{
  display: flex;
  flex-direction: row;
}
.nav-list a{
  padding: 10px;
 border-right: solid rgb(226, 224, 224) .5px;
}
.nav-list li:last-of-type a {
  border: 0;
}
.search-form{
  display: flex;


}
.credit-offer{
  display: flex;
  background-color: red;
}
.submit{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: red;
}
.company-name{
  font-size: 30px;
  color: #44b;
}