*{
    margin: 10px;
    padding: 10px;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Open, Sans;
    align-items: flex-start;
}
main{
    display: flex;
    flex-grow: 1;
}
.item{
    display: flex;
    flex-direction: column;
    flex-basis: 4px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px black;
}
.item-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(186, 181, 181);
    color: fuchsia;
    font-size: 20px;
    padding: 10px;
}
.fact-line{
    display: flex;
    justify-content: flex-start;
    color: fuchsia;
    align-items: center;
    background-color: rgb(186, 181, 181);
    padding: 10px;
}
.add-item{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: aqua;
    border: 100px;
    padding: 10px;
    border-radius: 50%;
}
@media (max-width: 768px){
    .item{
    /* display: flex; */
    flex-basis: 100%;
    font-size: larger;
    }
    .items{
        /* display: flex; */
        flex-direction: column;
    }
}
